.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    margin-bottom:10px;
}

.innerContent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.xpan_image_container {
    width: 100%;
}

.xpan_video_infos {
    padding: 10px;
}

div.xpan_duration_container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color:rgba(0, 0, 0, 0.5);
    width: fit-content;
    border-radius: 5px;
}

.xpan_playlist_icon {
    position: absolute;
    left: 9px;
    top: 9px;
    background-color:rgba(0, 0, 0, 0.5);
    width: 35px;
    height: 35px;
}

div.xpan_duration {
    width: fit-content;
    color: white;
    margin: 2px 5px 2px 5px;
}

.xpan_video_infos h2 {
    color: black;
    margin:0;
    font-weight: 600;
    margin-bottom:5px;
}

.xpan_video_infos p {
    margin:0;
    color: #595959;
}

.xpan_video_infos h2, .xpan_video_infos p {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.xpan_image_container{
    position: relative;
}


.xpan_play_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    width: inherit;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
}

.xpan_play_icon{
    transform: scale(0);
    transition: transform .5s;
}

.box:hover .xpan_play_overlay {
    opacity: 1;
}

.box:hover .xpan_play_icon{
    transform:scale(1);
}

.xpan_pseudo_element {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

div.xpan_image_container img.xpan_play_icon {
    vertical-align: middle;
    display: inline-block;
}

.xpan_thumbnail_container{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.xpan_preview_image {
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius:15px;
    overflow: hidden;
    background-position:center;
}

.xpan_description {
    white-space: normal;

}

.xpan_pagination_container {
    display: flex;
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
}

.xpan_pagination {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
}

.xpan_page_active {
    background-color: #4c6586;
    color: white;
    border-radius: 5px;
}

.xpan_pagination:hover:not(.xpan_page_active) {
    background-color: #ddd;
}

.xpan_flex{
    display:flex;
    flex-wrap:wrap;
}


.xpan_page_active:hover {
    color: white;
}

#xpan_video_container iframe{
    width: 100%;
}
